<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../link') %>
    <title>Success</title>
</head>
<body>
    <div class="container mt-5 p-5 border border-2 border-black bg-light">
        <h1 class="text-uppercase my-3">Success</h1>
        <h2 class="my-3">Your account has been created!</h2>
        <a class="btn btn-primary mt-4" href="../login">Login</a>
    </div>
</body>
</html>